{{ define "main" }}
<div class="container">
    <div class="section">
        <a href="/">
            <- Back Home</a>
                <div class="content">
                    <h1>{{ .Title }}</h1>
                    {{ .Content }}
                </div>
                {{ range .Paginator.Pages }} {{ .Render "summary" }} {{ end }}
    </div>
</div>
{{ end }}