body {
    margin: auto;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

nav,
main,
footer {
    padding: 0px 10em;
}

h1,
h2,
h3 {
    margin-top: 5px;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1.1rem;
}

.small {
    color: #333;
}

img {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
    text-decoration: none;
    color: #000;
}

a[target="_blank"]::after {
    content: ' ';
    background-image: url('/img/ext.svg');
    display: inline-block;
    width: 14px;
    height: 14px;
    background-size: contain;
    margin-left: 5px;
}

code {
    color: #f8f8f2;
    background-color: #272822;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

pre {
    max-width: 100%;
    overflow: auto;
    font-size: 0.8rem;
    line-height: 1rem;
    padding-bottom: 10px;
}

.row {
    display: flex;
}

.column-20 {
    flex: 20%
}

.column-25 {
    flex: 25%
}

.column-50 {
    flex: 50%
}

.column-75 {
    flex: 75%
}

.column-80 {
    flex: 80%
}

.padding-20 {
    padding: 20px;
}

p.categories-line-list {
    font-size: .7rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 2px;
    color: #008080 !important;
    margin-bottom: 2px;
}

ul>li {
    list-style: none;
    position: relative;
}

ul>li::before {
    content: '\2022';
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    left: -1rem;
    color: #008080;
    font-size: 1.5rem;
}

.top-nav {
    display: flex;
    align-items: flex-end;
    height: 55px;
    margin-bottom: 20px;
}

.top-nav>a {
    white-space: nowrap;
    font-weight: 600;
}

.top-nav>a.logo {
    text-decoration: none;
    color: #000;
    margin-right: 10px
}

.top-nav>a.logo>h1 {
    font-size: 1.5rem;
    margin: 0;
}

.top-nav>a.logo>h1>b {
    display: inline-block;
    padding: 0 1px;
    color: #008080;
    transform: rotate(10deg);
}

.top-nav>a:not(.logo) {
    margin: 0 5px;
    border-bottom: 3px transparent solid;
    font-size: 1.0rem;
    transition: border 0.3s;
}

.top-nav>a:hover:not(.logo) {
    padding-bottom: 0;
    border-bottom: 3px #9cc solid;
}

main {
    background-color: #f4f4f4;
    padding-bottom: 20px;
}

main a {
    border-bottom: 3px #9cc solid;
    transition: background-color 0.2s;
}

main a:hover {
    background-color: #9cc;
}

main>h2.small {
    padding-top: 10px;
}

main div.article-list {
    display: inline-block;
}

main div.category-list {
    margin-left: 50px;
    display: inline-block;
    vertical-align: top;
    min-width: 300px;
}

main div.category-list>ul.categories {
    display: block;
    background: #fff;
    list-style-type: none;
    padding: 15px;
}

main div.category-list ul.categories li:before {
    padding-left: none;
}

main div.category-list ul.categories li:before {
    list-style: none;
    content: "";
}

main div.category-list ul.categories li a {
    border-bottom: none;
}

article>header {
    border-top: 1px #000;
    padding-bottom: 20px;
}

article>header>h2>small {
    color: #008080;
    display: block;
    font-size: 0.9rem;
}

article>header>h1 {
    font-size: 2.0em;
    margin-bottom: 0;
}

article>header>h2 {
    font-size: 1rem;
    margin: 0px;
}

article>header>p {
    font-size: 0.8em;
    color: #828282;
    margin-top: 0;
    line-height: 1;
}

article>div>h2:before {
    background-color: #828282;
    content: "";
    width: 45px;
    height: 30px;
    position: absolute;
    margin-left: -50px;
}

article.summary {
    background-color: #fff;
    padding: 10px 15px;
    margin: 10px 0px;
}

article.summary header h2 {
    font-size: 1rem;
    margin: 0px;
}

article.summary header p {
    font-size: .7rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 2px;
    color: #c0c8d1;
}

article.summary div {
    font-size: .9rem;
    color: #808e9e;
    font-weight: 600;
}

article.summary hr {
    height: 1px;
    background-color: #f4f4f4;
    border: 0px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0px;
}

article.summary div.footer a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8em;
}

article .blog {
    background-color: #fff;
    padding: 20px;
    margin: 10px 15px;
}

article .toc {
    background-color: #fff;
    padding: 10px;
    margin: 10px 15px;
    position: fixed;
}

article .toc ul {}

article .toc ul li {
    list-style: decimal;
}

article .toc ul li:before {
    content: '';
}

ul.posts {
    margin: 20px 0px 0px;
    padding: 0;
    list-style: outside none none;
}

ul.posts>li>span {
    color: #008080;
    font-weight: 600;
    padding-right: 1rem;
}

@media print {
    nav a:not(.logo) {
        display: none;
    }
}

footer hr {
    border-top: 1px solid #efefef;
}

footer .copyright {
    float: left;
    text-align: center;
    width: calc(100% - 120px);
}

footer .social-icons {
    float: left;
    text-align: right;
    width: 80px;
    margin-right: 30px;
}

footer .rss-icon {
    width: initial;
    box-shadow: none;
}

div.notice {
    margin: 40px;
    padding: 10px;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.notice.important {
    background: #DE4D5F;
    border-color: #D0021B;
}

div.notice.info {
    background: #4A90E2;
    border-color: #0066DD;
}

div.notice h3 {
    margin: 0;
    font-size: 1.0rem;
}

div.notice p {
    margin: 0;
    font-size: .8rem;
}