@media only screen and (max-device-width: 640px) {
    nav,
    main,
    footer {
        padding: initial;
    }
    body>main {
        width: 100%;
    }
    article .toc {
        display: none;
    }
}