.crooked-a {
    display: inline-block;
    padding: 0 1px;
    color: #008080;
    transform: rotate(10deg);
}

body>nav {
    height: 65px;
    line-height: 65px;
}

.text-lackablue {
    color: #008080;
}

.text-lackadeepblue {
    color: #4c5b6b;
}

.bg-lackadeepblue {
    background-color: #16202a;
}

.bg-lackablue {
    background-color: #008080;
}

.bg-lackagrey {
    background-color: #f4f4f4;
}
