<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Site.Title }}</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="/css/tailwind.css" rel="stylesheet">
    <link href="/css/article.css" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/posts/index.xml" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <!-- SEO Stuff -->
    <meta name="description" content="{{ .Page.Params.description }}"> {{ if .Params.keywords}}
    <meta name="keywords" content="{{ .Page.Params.keywords }}"> {{ end }}
    <meta name="robots" content="index, follow" />

    <!-- Facebook -->
    <meta property="og:title" content="{{ .Page.Params.title }}">
    <meta property="og:type" content="article" />
    <meta property="og:description" content="{{ .Page.Params.description }}"> {{ if .Params.featuredImage}}
    <meta property="og:image" content="{{ .Page.Params.featuredImage }}"> {{ else }}
    <meta property="og:image" content="/img/logo.png"> {{ end }}

    <!-- Twitter -->
    <meta name="twitter:title" content="{{ .Page.Params.title }}">
    <meta name="twitter:description" content="{{ .Page.Params.description }}"> {{ if .Params.featuredImage}}
    <meta name="twitter:image" content="{{ .Page.Params.featuredImage }}"> {{ else }}
    <meta name="twitter:image" content="/img/logo.png"> {{ end }}
    <meta name="twitter:card" content="summary_large_image">

</head>

<body>
    <nav class="container mx-auto">
        <a class="text-2xl font-bold float-left" href="/">
            <h1 title="{{ .Site.Params.subtitle }}">
                Lack<b class="crooked-a">A</b>Stack
            </h1>
        </a>
        <a href="/about/" class="text-lg font-semibold float-right px-5">About</a>
        <a href="/posts/" class="text-lg font-semibold float-right px-5">All Posts</a>
    </nav>
    <div class="bg-lackagrey">
        <main>
            {{ block "main" . }}{{ end }}
        </main>
    </div>
    <footer class="bg-lackadeepblue text-white">
        <div class="container mx-auto flex items-stretch">
            <div class="flex-1 text-lackadeepblue text-center">
                Copyright 2019 LackAStack Staff
            </div>
            <div class="flex-1 text-right">
                <a href="/posts/index.xml">
                    <img src="/img/rss.svg" alt="rss-feed" class="rss-icon" />
                </a>
            </div>
        </div>
    </footer>
</body>

</html>
