{{ define "main" }}
<article class="container mx-auto">
    <div class="flex sm:flex-col md:flex-row lg:flex-row xl:flex-row">
        <div class="flex-auto  md:min-w-0 lg:min-w-0 xl:min-w-0">
            {{partial "toc" .}}
        </div>
        <div class="flex-initial w-3/4 md:w-3/4 lg:w-3/4 xl:w-3/4 sm:w-full sm:min-w-full md:min-w-0 lg:min-w-0 xl:min-w-0 px-5 py-2 my-2 mx-2 bg-white article">
            {{ .Content }}
        </div>

    </div>
</article>
{{ end }}
