{{ define "main" }}
<article>
    <h1 class="text-3xl font-medium text-center py-5 border-b-2 border-gray-300 bg-lackablue text-white">
        {{ .Title }}
        <p class="text-sm font-light py-3">Written By: {{ if .Params.author}} {{ if .Params.authorURL}}
                    <a href="{{ .Params.authorURL }}">{{ .Params.author }}</a>
                    {{ else }}
                    Author: {{ .Params.author }} {{ end }} {{ end }}  |  Posted On: {{ .PublishDate.Format "Monday, January 2, 2006" }}</p>
    </h1>
    <div class="container mx-auto">
        {{ if .Params.notice}}
        <div class="bg-gray-100 px-4 py-4 my-4 rounded notice border-red-300 border">
            <h3>Editor's Note</h3>
            <p>{{.Params.notice}}</p>
        </div>
        {{end}}
        <div class="flex flex-col md:flex-row lg:flex-row xl:flex-row">
            <div class="flex-auto  md:min-w-0 lg:min-w-0 xl:min-w-0">
                {{partial "toc" .}}
            </div>
            <div class="flex-initial w-full min-w-full md:min-w-0 md:w-3/4 lg:w-3/4 xl:w-3/4 px-5 py-2 md:my-2 md:mx-2 bg-white article">
                {{ .Content }}
            </div>

        </div>
        <footer class="py-5">
            <div class="flex bg-white my-5 px-5 py-5">
                <div class="flex-initial px-5">
                    {{ if .Params.authorAvatar}}
    <img class="h-32" src="{{ .Params.authorAvatar}}" alt="Author Avatar">
                    {{ else }}
                        <img class="h-32" src="https://img.pngio.com/man-head-people-avatar-svg-png-icon-free-download-561160-heads-of-people-png-980_978.png" alt="Author Avatar">
                    {{ end }}
                </div>
                <div class="flex-auto">
                    <h1 class="text-2xl">
                        {{ .Title }}
                    </h1>

                    {{ if .Params.author}} {{ if .Params.authorURL}}
                    <h2>Author: <a href="{{ .Params.authorURL }}">{{ .Params.author }}</a></h2>
                    {{ else }}
                    <h2>Author: {{ .Params.author }} </h2> {{ end }}
                    <p class="font-medium text-black uppercase text-sm">
                        <br /> {{ end }} Date: {{ .PublishDate.Format "Monday, January 2, 2006" }}
                    </p>
                    <div class="category-list">
                        <p class="font-bold text-lackablue uppercase text-sm">
                            {{ if .Params.topic }} {{ .Params.topic }}{{end}} {{ range .Params.categories}} | {{. | humanize}} {{ end }}
                        </p>
                    </div>
                <div>
            </div>
        </footer>
    </div>
</article>
{{ end }}
