<article class="px-5 py-2 my-2 bg-white">
    <a href="{{ .RelPermalink }}" title="Click to continue reading">
        <header>
            <p class="font-bold text-lackablue uppercase text-sm">{{ if .Params.topic }} {{ .Params.topic }}{{end}} {{ if .Params.category }} | {{ .Params.category }} {{end}}</p>
            <h2 class="font-medium text-lg">
                {{ .Title }}
            </h2>
            <p class="text-xs text-gray-500 uppercase">{{ .Date }} - Posted By: {{ .Params.Author }} </p>
        </header>
        <div class="py-3">
            {{ .Params.description }}
        </div>
        <hr />
    </a>
    <div class="uppercase font-semibold text-gray-800 pt-2 text-sm">
        <a href="{{ .RelPermalink }}">Read More</a>
    </div>
</article>