<ul class="categories">
    {{ $title := urlize .Title }} {{ with .Site.Taxonomies.categories }} {{ range $name, $taxonomy := . }}
    <li><a href="/categories/{{ $name | urlize }}/">{{$name | humanize}} ({{ $taxonomy.Count }}) </a></li>
    {{ end }} {{ end }}
</ul>