 <!-- ignore empty links with + -->
{{ $headers := findRE "<h[1-6].*?>(.|\n])+?</h[1-6]>" .Content }}
<!-- at least one header to link to -->
{{ $has_headers := ge (len $headers) 1 }}
<!-- a post can explicitly disable Table of Contents with toc: false -->
{{ if and $has_headers }}
<div class="px-5 py-2 bg-white my-3 mx-2 sticky top-0">
    <!-- TOC header -->
    <h4 class="font-medium text-lg my-2 uppercase text-lackadeepblue">Contents</h4>
    <ul class="list-decimal px-3">
    {{ range $headers }}
        {{ $header := . }}
        {{ range first 1 (findRE "<h[1-6]" $header 1) }}
            {{ range findRE "[1-6]" . 1 }}
                {{ $next_heading := (int .) }}
                <!-- generate li array of the proper depth -->
                {{ $base := ($.Page.File.LogicalName) }}
                {{ $anchorId := ($header | plainify | htmlUnescape | anchorize) }}
                {{ $href := delimit (slice $base $anchorId) "#" | string }}
                <li class="my-2 text-lackadeepblue">
                  <a class="no-underline hover:underline text-lackablue" href="{{ relref $.Page $href }}">
                    {{ $header | plainify | htmlUnescape | emojify }}
                  </a>
                </li>
                <!-- close list -->
            {{end}}
        {{end}}
    {{ end }}</ul>
</div>
{{ end }}
