{{ define "main" }}
<div class="container mx-auto">
    <div class="flex items-start flex-col md:flex-row">
        <div class="flex-auto m-5">
            <h2 class="text-2xl">Latest Articles</h2>
            {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }} {{ range $paginator.Pages }} {{ .Render "summary" }} {{ end }}
        </div>
        <div class="flex-none m-5">
            <h2 class="text-2xl">Categories</h2>
            <div class="bg-white  p-5">
                {{ partial "categories.html" . }}
            </div>
        </div>
    </div>
</div>

{{ end }}
