{{ define "main" }}
<div class="bg-white pt-0 pb-5 px-4 sm:px-6 lg:pt-0 lg:pb-5 lg:px-8">
  <div class="relative mx-auto lg:max-w-7xl">
    <div class="mt-6 grid gap-16 border-t-2 border-gray-100 pt-10 lg:grid-cols-1 lg:col-gap-5 lg:row-gap-12">
    {{ range .Pages }}
      <div>
        <p class="text-sm leading-5 text-gray-500">
          <time datetime="{{.Date.Format "2006-01-02"}}">{{.Date.Format "2006-01-02"}}
          </time>
        </p>
        <a href="{{.RelPermalink}}" class="block">
          <h3 class="mt-1 text-xl leading-7 font-semibold text-gray-900">
            {{.Title}}
          </h3>
          <p class="mt-1 text-base leading-6 text-gray-500">
            {{ .Params.description }}
          </p>
        </a>
        <div class="mt-1">
          <a href="{{.RelPermalink}}" class="text-base leading-6 font-semibold text-lackablue hover:text-indigo-500 transition ease-in-out duration-150">
            Read More
          </a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>

{{ end }}
